* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1250px;
  --main-color: linear-gradient(
    5deg,
    rgba(227, 54, 37, 1) 0%,
    rgba(99, 35, 23, 0.9906556372549019) 100%
  );
  --primary-color: rgba(99, 35, 23, 0.9906556372549019);
  --link-color: #333;
  --list-color: rgb(102, 99, 99);
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #fbf7f7;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  aspect-ratio: 5 / 3;
  display: block;
}

header {
  background: rgb(227, 54, 37);
  background: var(--main-color);
}

.clip {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clip-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clip-2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p-3 {
  padding: 3px;
}

.p-5 {
  padding: 5px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.m-top {
  margin-top: 0.5em;
}

.m-top-1 {
  margin-top: 1em;
}

.m-top-1 {
  margin-top: 10px;
}

.m-tb-1 {
  margin: 10px 0px;
}

.default-font {
  font-size: 1rem;
}

.f-size-m {
  font-size: 0.9rem;
}

.f-size-lg {
  font-size: 1.5rem;
}

.f-weight-lg {
  font-weight: 500;
}

.image-s {
  width: 80px;
  height: 80px;
}

.kannada-header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 1em 0;
}

.current-date {
  color: white;
  font-size: 1.2rem;
}

.kannada-news-logo img {
  width: 120px;
}

.district-menu {
  width: 250px;
}

.select-menu-btn {
  background-color: #fff;
  border-radius: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #333;
  position: relative;
}

.select-text {
  flex: 1;
  padding-left: 1.2em;
  font-size: 1.1rem;
}

.select-menu-btn i {
  font-size: 1.5rem;
  margin-right: 1em;
  color: grey;
  transition: 0.2s;
}

.district-menu.active .select-menu-btn i {
  transform: rotate(-180deg);
}

.district-options {
  width: 250px;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 15px;
  padding: 1.2em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  background-color: #fff;
  position: absolute;
  display: none;
}

.district-options::-webkit-scrollbar {
  -webkit-appearance: none;
}

.district-options::-webkit-scrollbar:vertical {
  width: 11px;
}

.district-options::-webkit-scrollbar-thumb {
  border-radius: 12px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(189, 136, 136, 0.5);
}

.district-options::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.district-menu.active .district-options {
  display: block;
  z-index: 2000;
}

.district-option {
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: var(--link-color);
}

.district-option a {
  color: var(--link-color);
}

.district-option:hover {
  background-color: #f2f2f2;
}

.kannada-main-nav {
  border-bottom: 0.5px solid rgb(179, 176, 176);
}

.nav-icon .hamburger {
  width: 20px;
  height: 3px;
  background: #333;
  position: relative;
  transition: 0.5s;
}

.nav-icon .hamburger::before,
.nav-icon .hamburger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #333;
  transition: 0.5s;
}

.nav-icon .hamburger::before {
  top: -7px;
}

.nav-icon .hamburger::after {
  top: 7px;
}

.nav-icon.active .hamburger {
  background-color: rgba(0, 0, 0, 0);
}

.nav-icon.active .hamburger::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-icon.active .hamburger::after {
  transform: rotate(135deg);
  top: 0;
}

.kannada-nav {
  display: flex;
  margin: 0 auto;
  padding: 1em 0em;
  gap: 1em;
  align-items: center;
  max-width: var(--container-width);
  position: relative;
}

.kannada-nav-list {
  display: flex;
}

.kannada-nav-list li a {
  color: var(--link-color);
}

.kannada-nav-list li:not(:nth-child(1)) {
  margin-left: 2em;
}

.nav-search {
  width: 50px;
  text-align: end;
  margin-left: auto;
}

.kannada-sub-nav {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}

.kannada-sub-list {
  display: flex;
  margin: 0 auto;
  padding: 1em 0em;
  gap: 1em;
  align-items: center;
  max-width: var(--container-width);
}

.kannada-sub-list li:not(:nth-child(1)) {
  margin-left: 1.2em;
}

.kannada-sub-list li a {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--list-color);
}

.kannada-sub-list li:first-child a {
  color: var(--primary-color);
}

.kannada-mega-menu {
  position: absolute;
  background-color: #fff;
  top: 56px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.2em;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-out;
  z-index: 1000;
}

.kannada-mega-menu.active-mega {
  opacity: 1;
  height: auto;
}

.mega-sub-menu {
  width: 20%;
  padding: 0 5px;
}

.mega-menu h3 {
  font-size: 1rem;
  margin: 0 0 10px;
  max-width: 170px;
  text-transform: uppercase;
}

.mega-menu * li {
  padding: 3px 0px;
  font-size: 0.9em;
}

.mega-menu * a {
  color: var(--link-color);
}

.mega-sub-menu .mega-menu + .mega-menu {
  margin-top: 1.2em;
}

.kannada-breaking-news {
  margin: 2em auto 0;
}

.breaking-tag {
  display: flex;
  justify-content: space-between;
}

.breaking-tag-main {
  color: var(--primary-color);
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  align-self: flex-end;
}

.breaking-tag .bottom-border {
  flex: 1;
  align-self: flex-end;
  height: 3px;
  background: var(--main-color);
}

.breaking-tag-more {
  color: var(--primary-color);
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 8px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.breaking-news-left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.breaking-news-container {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.breaking-news-carousel {
  display: flex;
  border-radius: 5px;
  transition: all 0.6s linear;
  width: 100%;
  height: 100%;
}

.breaking-news-left i.button {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #dee4ec;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  color: #333;
  font-size: 1.2rem;
  top: 50%;
  padding: 0.3em;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
}

i#prev {
  left: 25px;
}

i#next {
  right: 25px;
}

.breaking-news-main-carousel {
  min-width: 100%;
  height: 100%;
}

.breaking-news-main {
  box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
  border-radius: 7px;
}

.breaking-news-image img {
  border-radius: 5px;
}

.breaking-news-details {
  margin: 0.5em;
}

.breaking-news-details a {
  color: var(--link-color);
}

.news-right-card {
  margin: 12px 0px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.right-card-image img {
  border-radius: 5px;
}

.breaking-news-bottom {
  margin-top: 0.6em;
}

.breaking-news-bottom span:first-child {
  color: var(--primary-color);
}

.breaking-news-bottom:not(span:first-child) {
  color: var(--list-color);
}

.card-details-bottom {
  margin-top: 0.5em;
}

.card-details-bottom h3 a {
  color: var(--link-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.kannada-trending {
  margin: 2em auto;
}

.trending-videos {
  margin: 0.5em;
}

#iframe {
  border-radius: 7px;
}

.trending-details {
  margin-top: 0.2em;
}

.trending-details h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

.trending-image {
  margin: 0.4em 0;
}

.trending-image img {
  border-radius: 7px;
  width: 180px;
  height: 100px;
}

.sub-section-list {
  display: flex;
  list-style-type: none;
  border: 1px solid var(--primary-color);
  margin-bottom: 5px;
  border-radius: 5px;
}

.sub-section-list li {
  padding: 10px 12px;
  font-size: 1rem;
  font-weight: 500;
}

.sub-section-list li a {
  color: var(--primary-color);
}

.sub-section-main-image {
  position: relative;
  margin: 12px 0px;
}

.sub-section-main-image img {
  border-radius: 7px;
}

.sub-section-main-image h3 {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 1rem;
  margin: 0 7px;
}

.sub-section-main-image h3 a {
  color: #fff;
}

.sub-section-news-listing {
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

.sub-section-news-listing li:not(:first-child) {
  margin-top: 5px;
}

.sub-section-news-listing li {
  border-bottom: 1px dotted grey;
  padding: 0.7em 0;
}

.sub-section-news-listing li a {
  color: var(--link-color);
}

.sub-section-images {
  padding-left: 10px;
}

.sub-section-image img {
  width: 220px;
  height: 120px;
  border-radius: 7px;
}

.district-category {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  gap: 8px;
}

.karnataka-districts,
.trending-topics {
  display: flex;
  align-items: center;
  background: var(--main-color);
  padding: 0.5em;
  overflow-x: hidden;
  gap: 10px;
  border-radius: 0.8em;
  width: 92%;
  scroll-behavior: smooth;
}

.karnataka-districts li,
.trending-topics li {
  padding: 0.3em 0.8em;
  margin: 0 0.2em;
  white-space: nowrap;
  border: 1px solid rgb(202, 198, 198);
  border-radius: 2em;
}

.karnataka-districts li a,
.trending-topics li a {
  color: #fff;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.fa-solid.fa-angles-left,
.fa-solid.fa-angles-right {
  color: var(--main-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.top-stories {
  list-style-type: circle;
  list-style-position: inside;
}

.top-stories > li {
  padding: 5px 5px 0px 0px;
  border-bottom: 1px dotted grey;
  margin: 12px 10px;
  font-size: 0.9rem;
}

.top-stories > li > a {
  color: var(--link-color);
}

.trending-heading {
  color: var(--primary-color);
}

.miscellaneous-topics h3 a {
  color: var(--link-color);
  font-size: 1.2rem;
  margin-right: 7px;
}

.miscellaneous-image {
  border-bottom: 1px dotted grey;
}

.miscellaneous-image img {
  border-radius: 7px;
}

.miscellaneous-image h3 {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 10px 0;
  padding: 0.2em 0.2em 0 0.2em;
}

.miscellaneous-topics ul li {
  margin: 13px 0;
  border-bottom: 1px dotted grey;
  padding: 0.2em 0.2em 0.1em 0.2em;
  font-size: 0.9rem;
}

.miscellaneous-topics ul li a {
  color: var(--link-color);
}

.kannada-footer {
  background: var(--main-color);
}

.footer-logo {
  height: 80px;
  width: 120px;
}

.footer-logo img {
  height: 100%;
}

.footer-static {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 8px;
  justify-content: space-between;
}

.footer-static li {
  margin: 0.2em 0.5em;
}

.footer-static li a {
  color: white;
}

.kannada-social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kannada-social-links li a i {
  color: black;
  font-size: 1.5rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer-links ul li a {
  color: white;
}

@media screen and (max-width: 520px) {
  .footer-links {
    flex-wrap: wrap;
  }
  .mega-sub-menu {
    width: 30%;
    overflow-wrap: break-word;
    margin: 0 10px;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .current-date {
    font-size: 0.6rem;
    margin-left: 8px;
    width: 20%;
  }
  .kannada-news-logo {
    margin: 0 5px;
  }
  .kannada-news-logo img {
    width: 60px;
  }
  .district-menu {
    width: 120px;
    margin: 0 5px;
  }
  .select-menu-btn {
    padding: 3px 5px;
  }
  .select-text {
    padding-left: 0.7em;
    font-size: 0.6rem;
  }
  .select-menu-btn i {
    font-size: 0.7rem;
  }
  .district-options {
    width: 120px;
    height: 200px;
    border-radius: 7px;
    padding: 0.6em;
    overflow-wrap: break-word;
  }
  .district-option {
    padding: 5px 0px;
  }
  .district-option a {
    font-size: 0.7rem;
  }
  .kannada-nav-list {
    display: none;
  }
  .kannada-sub-nav {
    display: none;
  }
  .kannada-nav {
    padding: 8px;
  }
  i#prev {
    left: 5px;
  }
  i#next {
    right: 5px;
  }
  .breaking-news-left i.button {
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    line-height: 26px;
  }
  .breaking-tag-main {
    font-size: 1.1rem;
  }
  .breaking-tag-more {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px;
  }
  .breaking-news-details h2 {
    font-size: 1rem !important;
  }
  .breaking-news-bottom > span {
    font-size: 0.9rem;
  }
  .sub-section-list {
    display: none;
  }
  .trending-videos {
    text-align: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    margin: 0.5em 0em;
  }
  .trending-video {
    padding: 10px;
  }
  #iframe {
    width: 220px;
    height: 120px;
  }
  .trending-details {
    margin: 0.2em;
  }
  .trending-details h3 {
    font-size: 0.9rem;
  }
  .trending-images {
    text-align: center;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
    margin: 0.5em 0em;
  }
  .trending-image {
    padding: 10px;
  }
  .trending-image img {
    width: 220px;
    height: 120px;
    margin: 0 auto;
  }
  .sub-section-images {
    text-align: center;
    box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
    margin: 0.5em 0em;
    padding-left: 0px;
  }
  .sub-section-image {
    padding: 10px;
  }
  .sub-section-image img {
    margin: 0 auto;
  }
  .right-card-image img {
    width: 220px;
    height: 120px;
    margin: 10px auto;
  }
  .breaking-news-main {
    margin: 10px 0;
  }
  .card-details-bottom {
    padding: 0px !important;
  }
}

@media only screen and (min-width: 521px) and (max-width: 1100px) {
  .kannada-header-main {
    margin: 0 8px;
  }
  .kannada-nav {
    margin: 0 8px;
    padding: 0.5em 0;
  }
  .kannada-nav-list {
    flex-wrap: wrap;
  }
  .kannada-nav-list > li {
    margin-left: 1.2em !important;
  }
  .kannada-mega-menu {
    top: 70px;
  }
  .kannada-sub-list {
    margin: 0 8px;
    padding: 0.5em 0;
    flex-wrap: wrap;
    gap: 0;
  }
  .kannada-sub-list > li {
    margin-left: 1em !important;
  }
  .breaking-news-left {
    margin-top: 12px;
  }
  .news-right-card {
    padding: 0 !important;
    margin-top: 12px;
  }
  .right-card-image img {
    border-radius: 5px;
    margin-top: 20px;
    width: 100px;
    height: 70px;
  }
  .trending-video #iframe {
    width: 150px;
  }
  .trending-images {
    padding: 0.1em 0;
  }
  .trending-image img {
    width: 150px;
  }
  .breaking-news-details h2 {
    font-size: 1.2rem;
  }
  .image-s {
    width: 68px !important;
    height: 68px !important;
    padding-right: 0.1em;
  }
  .default-font {
    font-size: 0.8rem;
  }
}
